.navbar-brand {
  color: $primary-color;
}
.navbar-toggler {
  outline: none;
  border: none;
  transition: all 1s ease;
}
.menu-button {
  color: $main-color;
}
.nav-link {
  color: $primary-color;
  font-size: larger;
  font-weight: 600;
  text-transform: capitalize;
  margin-left: 2rem;
  border-bottom: 2px solid transparent;
  position: relative;
  &:hover {
    color: $main-color;
    &::after {
      animation: border 0.6s ease forwards;
    }
  }

  &::after {
    content: "";
    border-bottom: 2px solid;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:focus {
    color: $main-color;
  }
  @keyframes border {
    0% {
      width: 10px;
    }
    100% {
      width: 50%;
    }
  }
}
.navbar {
  z-index: 3;
  transition: all 0.4s ease-in;
  // margin-bottom: 19rem;
  // height: 4rem;
}
.scroll {
  color: $main-color !important;
  &:focus {
    color: black;
  }
}
.unscroll {
  color: $primary-color;
}
.collapse {
  @media screen and (max-width: 990px) {
    background-color: rgba(0, 0, 0);
    backdrop-filter: blur(9px);
    background: none;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar {
      background: none;
    }
  }
}
