.banner {
  background-image: url(../../asset/banner.jpg);

  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
}
.bannerblur {
  width: 100%;
  background-color: rgb(28, 30, 30);
  opacity: 0.6;
  z-index: 1;
  position: relative;
  @media screen and (max-width: 580px) {
    height: 130vh;
  }
}
