.card {
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.3);
      //   background-position: center;
      transition: transform 1s;
      //   z-index: 2;
    }
    .card-body {
      background-color: white;
      z-index: 2;
    }
  }
}
